# Sever
HOST=127.0.0.1
PORT=8080

# Command
COMMAND_START=["/"]
COMMAND_SEP=["."]

# Tokens
ONEBOT_ACCESS_TOKEN=your_onebot_access_token

# Storage
LOCALSTORE_USE_CWD=true

# LLM
LLM_ONLY_ON_AT=false
LLM_POKE_SLEEP_TIME=5
LLM_POKE_INTERVAL=0.5

LLM_CONTINUITIER_BASE_URL=https://your-llm-provider.example/v1/
LLM_CONTINUITIER_API_KEY=your_continuitier_api_key
LLM_CONTINUITIER_MODEL=gpt-5-nano

LLM_REPLIER_BASE_URL=https://your-llm-provider.example/v1/
LLM_REPLIER_API_KEY=your_replier_api_key
LLM_REPLIER_MODEL=claude-opus-4-6

LLM_SCHEDULER_BASE_URL=https://your-llm-provider.example/v1/
LLM_SCHEDULER_API_KEY=your_scheduler_api_key
LLM_SCHEDULER_MODEL=gemini-2.5-flash
LLM_SCHEDULER_REFRESH_MINUTES=20
LLM_SCHEDULER_WORKDAY_TIMESLOTS=06:30-07:00=起床|洗漱,07:00-07:30=吃早餐,08:00-11:00=在学校,11:00-13:30=午休,13:30-15:30=在学校,15:30-16:30=乐队练习|贝斯练习,16:30-17:30=回家|休息,17:30-18:00=晚饭,18:00-19:00=书法练习|看书,19:00-20:00=自由时间|做作业,20:00-21:00=乐队练习|练习贝斯,21:00-21:30=洗漱,22:30-23:00=准备睡觉
LLM_SCHEDULER_WORKDAY_RANDOM_EVENTS=遇到可爱小动物:0.05,姐姐突然来找你:0.05,咲希有奇怪想法:0.07

LLM_SCHEDULER_HOLIDAY_TIMESLOTS=08:00-09:00=睡到自然醒|洗漱,09:00-10:00=吃早餐,10:00-12:00=自由活动|书法练习|看书,12:00-13:00=午餐,13:00-15:00=乐队练习|贝斯练习,15:00-16:30=散步|看小动物,16:30-17:30=回家休息|做点零食,17:30-18:00=晚饭,18:00-20:00=看书|自由活动,20:00-21:30=乐队练习|练习贝斯,21:30-22:00=洗漱,22:30-23:00=准备睡觉
LLM_SCHEDULER_HOLIDAY_RANDOM_EVENTS=遇到可爱小动物:0.1,姐姐突然来找你:0.07,咲希想一起玩:0.08,意外收到乐队消息:0.05

FORCE_HOLIDAY=false

# LLM_PLANNER_BASE_URL=https://api.deepseek.com/v1/
# LLM_PLANNER_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# LLM_PLANNER_MODEL=deepseek-chat
# LLM_PLANNER_TOO_LATE_DISABLE=false

LLM_PLANNER_BASE_URL=https://your-llm-provider.example/v1/
LLM_PLANNER_API_KEY=your_planner_api_key
LLM_PLANNER_MODEL=gemini-2.5-flash
LLM_PLANNER_TOO_LATE_DISABLE=false
